<section class="loremContainer">
    <article class="loremTop">
        <div class="loremTopLeft">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus libero, eligendi quam rerum assumenda, architecto ex nulla quo dolorum consectetur facere aliquam, atque ipsam quia doloribus esse corporis ipsum dolorem? Corporis impedit odio expedita! Eveniet, alias aliquam dignissimos, harum earum consectetur unde reprehenderit architecto obcaecati debitis praesentium dolorem voluptatibus fugit, natus tempore ducimus repellendus? Quos ab sint quo perferendis temporibus, voluptatibus delectus voluptate aliquid voluptatum.</p>
        </div>
        <div class="loremTopRight">
            <img src="./images/image.png" alt="womanWithMobilephone">
        </div>
    </article>
    <article class="restOfLorem">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores in, unde quod eveniet dicta dolorum repudiandae iste ducimus vitae, molestias rerum tempore quae, sed sunt aspernatur impedit recusandae maiores aliquam. Distinctio molestias porro alias. Vitae velit ipsam ex quo minus natus sit saepe ipsum rerum id tempore dicta quod eveniet molestiae, quia cupiditate ea maxime omnis harum voluptate. Tenetur harum nihil eum assumenda repellat? Deserunt suscipit quae ab sequi aperiam, quaerat tenetur similique, nesciunt porro nisi sint modi vel atque id, in non esse praesentium dolor optio corporis aspernatur eaque alias? Optio voluptatem dolorum quidem ducimus. Ut, atque sint.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores in, unde quod eveniet dicta dolorum repudiandae iste ducimus vitae, molestias rerum tempore quae, sed sunt aspernatur impedit recusandae maiores aliquam. Distinctio molestias porro alias. Vitae velit ipsam ex quo minus natus sit saepe ipsum rerum id tempore dicta quod eveniet molestiae, quia cupiditate ea maxime omnis harum voluptate. Tenetur harum nihil eum assumenda repellat? Deserunt suscipit quae ab sequi aperiam, quaerat tenetur similique, nesciunt porro nisi sint modi vel atque id, in non esse praesentium dolor optio corporis aspernatur eaque alias? Optio voluptatem dolorum quidem ducimus. Ut, atque sint.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores in, unde quod eveniet dicta dolorum repudiandae iste ducimus vitae, molestias rerum tempore quae, sed sunt aspernatur impedit recusandae maiores aliquam. Distinctio molestias porro alias. Vitae velit ipsam ex quo minus natus sit saepe ipsum rerum id tempore dicta quod eveniet molestiae, quia cupiditate ea maxime omnis harum voluptate. Tenetur harum nihil eum assumenda repellat? Deserunt suscipit quae ab sequi aperiam, quaerat tenetur similique, nesciunt porro nisi sint modi vel atque id, in non esse praesentium dolor optio corporis aspernatur eaque alias? Optio voluptatem dolorum quidem ducimus. Ut, atque sint.
        </p>
    </article>
</section>