<section class="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menueins">Menüpunkt 1</a></li>
        <li><a href="/menuzwei">Menüpunkt 2</a></li>
    </ul>
</section>